/* navbar */

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navbar ul li {
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
}

.navbar ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}